@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}


div.containerTASK {
    display: flex;
    justify-content: center;
}

button.buttonTASK {
    padding: 15px;
    background: rgb(0, 0, 0);
    color: rgb(252, 251, 251);
    border: none;
}
button.buttonTASK:hover {
    background: rgb(2, 58, 15);
}
button.buttonTASK:active { 
    background: rgb(5, 201, 51);
    color: white;
}

input.inputTASK {
    padding: 15px;
    height: 30px;
}


.TASK__isValueInput {
    margin: 50px;
}


div.TASK__swapPlaces {
    justify-content: space-evenly;
}

